<!doctype html>
<html lang="en">
  <%= require('html-loader!./partials/head.ejs') %>
  <body>
    <%= require('html-loader!./components/_header.ejs') %>

    <%= require('html-loader!./components/_nav_menu.ejs') %>

    <!-- PAGE-ITEM -->
    <section class="page-item">
      <div class="container">
        <div class="row">
          <div class="col-md-9 page-item__left">
            <div class="page-item__img-view">
              <a href="#">
                <img class="img-fluid" src="assets/images/page-item/page_item_detail.jpg" alt="">
              </a>
            </div>
            <div class="page-item__content">
              <p>Fahbiz is a sharp, modern and responsive WordPress consultancy multipurpose website theme. This theme is a sophisticated platform for quick development of professional agency, consultancy websites with that you can promote any kind of services or make your business grow. It offers several features that represent uniqueness and creativity. No coding or advanced programming knowledge is required, with only one click you will be able to import the demo content and initiate the installation. The WordPress theme is rich in visuals, sensitive cursors and galleries. Its flexible, dynamic and fully adaptive layout is designed to look great on any screen size.</p>
              <p>Powerful premium plugins are included with Fahbiz, so you always have the right tool for the right job, including the Visual Composer premium page builder, the Revolution Slider to craft gorgeous, engaging experiences for your users and the WooCommerce e-Commerce plugin suite. If you are looking for a website template that really maximizes your website’s visitors, then this theme is the perfect choice for you.a</p>
              <p>Powerful premium plugins are included with Fahbiz, so you always have the right tool for the right job, including the Visual Composer premium page builder, the Revolution Slider to craft gorgeous, engaging experiences for your users and the WooCommerce e-Commerce plugin suite. If you are looking for a website template that really maximizes your website’s visitors, then this theme is the perfect choice for you.a</p>
              <p>Powerful premium plugins are included with Fahbiz, so you always have the right tool for the right job, including the Visual Composer premium page builder, the Revolution Slider to craft gorgeous, engaging experiences for your users and the WooCommerce e-Commerce plugin suite. If you are looking for a website template that really maximizes your website’s visitors, then this theme is the perfect choice for you.a</p>
              <p>Powerful premium plugins are included with Fahbiz, so you always have the right tool for the right job, including the Visual Composer premium page builder, the Revolution Slider to craft gorgeous, engaging experiences for your users and the WooCommerce e-Commerce plugin suite. If you are looking for a website template that really maximizes your website’s visitors, then this theme is the perfect choice for you.a</p>
              <p>Powerful premium plugins are included with Fahbiz, so you always have the right tool for the right job, including the Visual Composer premium page builder, the Revolution Slider to craft gorgeous, engaging experiences for your users and the WooCommerce e-Commerce plugin suite. If you are looking for a website template that really maximizes your website’s visitors, then this theme is the perfect choice for you.a</p>
              <p>Powerful premium plugins are included with Fahbiz, so you always have the right tool for the right job, including the Visual Composer premium page builder, the Revolution Slider to craft gorgeous, engaging experiences for your users and the WooCommerce e-Commerce plugin suite. If you are looking for a website template that really maximizes your website’s visitors, then this theme is the perfect choice for you.a</p>
              <p>Powerful premium plugins are included with Fahbiz, so you always have the right tool for the right job, including the Visual Composer premium page builder, the Revolution Slider to craft gorgeous, engaging experiences for your users and the WooCommerce e-Commerce plugin suite. If you are looking for a website template that really maximizes your website’s visitors, then this theme is the perfect choice for you.a</p>
              <p>Powerful premium plugins are included with Fahbiz, so you always have the right tool for the right job, including the Visual Composer premium page builder, the Revolution Slider to craft gorgeous, engaging experiences for your users and the WooCommerce e-Commerce plugin suite. If you are looking for a website template that really maximizes your website’s visitors, then this theme is the perfect choice for you.a</p>
              <p>Powerful premium plugins are included with Fahbiz, so you always have the right tool for the right job, including the Visual Composer premium page builder, the Revolution Slider to craft gorgeous, engaging experiences for your users and the WooCommerce e-Commerce plugin suite. If you are looking for a website template that really maximizes your website’s visitors, then this theme is the perfect choice for you.a</p>
              <p>Powerful premium plugins are included with Fahbiz, so you always have the right tool for the right job, including the Visual Composer premium page builder, the Revolution Slider to craft gorgeous, engaging experiences for your users and the WooCommerce e-Commerce plugin suite. If you are looking for a website template that really maximizes your website’s visitors, then this theme is the perfect choice for you.a</p>
              <p>Powerful premium plugins are included with Fahbiz, so you always have the right tool for the right job, including the Visual Composer premium page builder, the Revolution Slider to craft gorgeous, engaging experiences for your users and the WooCommerce e-Commerce plugin suite. If you are looking for a website template that really maximizes your website’s visitors, then this theme is the perfect choice for you.a</p>
              <p>Powerful premium plugins are included with Fahbiz, so you always have the right tool for the right job, including the Visual Composer premium page builder, the Revolution Slider to craft gorgeous, engaging experiences for your users and the WooCommerce e-Commerce plugin suite. If you are looking for a website template that really maximizes your website’s visitors, then this theme is the perfect choice for you.a</p>
              <p>Powerful premium plugins are included with Fahbiz, so you always have the right tool for the right job, including the Visual Composer premium page builder, the Revolution Slider to craft gorgeous, engaging experiences for your users and the WooCommerce e-Commerce plugin suite. If you are looking for a website template that really maximizes your website’s visitors, then this theme is the perfect choice for you.a</p>
              <p>Powerful premium plugins are included with Fahbiz, so you always have the right tool for the right job, including the Visual Composer premium page builder, the Revolution Slider to craft gorgeous, engaging experiences for your users and the WooCommerce e-Commerce plugin suite. If you are looking for a website template that really maximizes your website’s visitors, then this theme is the perfect choice for you.a</p>
            </div>
          </div>

          <div class="col-md-3 page-item__right">
            <div class="position-fixed">
              <h2 class="page-item__title"><a href="#">Facebook Clean Dark Powerful premium plugins</a>  </h2>
              <p class="page-item__published">Published: <span>October 31, 2018</span></p>
              <ul class="page-item__stats">
                <li class="page-item__stats_item"><i class="fas fa-heart"></i> 347</li>
                <li class="page-item__stats_item"><i class="fas fa-eye"></i> 1219</li>
                <li class="page-item__stats_item"><i class="fas fa-download"></i> 1003</li>
              </ul>

              <div class="profile-item">
                <div class="profile-item__info">
                  <a class="profile-item__name" href="/profile.html">hoangbaovu</a>
                  <a class="btn btn-primary profile-item__view" href="/profile.html">View Profile</a>
                </div>
                <div class="profile-item__avatar">
                  <a href="/profile.html"><img src="assets/images/avatar.jpeg" alt=""></a>
                </div>
              </div>

              <div class="install-style">
                <a href="#" class="btn btn-primary btn-install-style">
                  <i class="fas fa-download"></i>
                  Install Style
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
