<footer class="footer">
  <div class="container">
    <div class="row">
      <h2 class="footer__logo">HandleStyle</h2>
    </div>
    <div class="footer_top row">
      <div class="col-md-6 develop">
        <h5>DEVELOPERS</h5>
        <p>Documentation</p>s
        <p>Forums</p>
        <p>Developer blog</p>
      </div>
      <div class="col-md-6 help">
          <h5>HELP CENTER</h5>
          <p>Documentation</p>
          <p>Forums</p>
          <p>Developer blog</p>
      </div>
    </div>
    <div class="footer_bottom row">
      <div class="float-left col-md-6">
        <div class="menu_footer">
          <ul class="list-unstyled">
            <li><a href="">About HandleStyle</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Privacy</a></li>
            <li><a href="">Pollcy</a></li>
            <li><a href="">Stemap</a></li>
          </ul>
          <p>&copy;2018 HandleStyle</p>
        </div>
      </div>
      <div class="float-right col-md-6">
        <ul>
          <li><a href=""><img src="../../assets/images/twitter.png" alt=""></a></li>
          <li><a href=""><img src="../../assets/images/twitter.png" alt=""></a></li>
          <li><a href=""><img src="../../assets/images/twitter.png" alt=""></a></li>
          <li><a href=""><img src="../../assets/images/twitter.png" alt=""></a></li>
          <li><a href=""><img src="../../assets/images/twitter.png" alt=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
