
<main>
  <div class="container-fluit">
    <div class="row">
      <div class="card col-md-3">
        <a href="page_item.html">
          <img src="../../assets/images/Capture.png" alt="">
          <div class="title">
            <h5>Google - Clean Dark</h5>
            <p>Vu Hoang</p>
          </div>
          <div class="icon">
            <i class="fa fa-heart"></i>
            <span>345</span>
            <i class="fa fa-eye"></i>
            <span>345</span>
          </div>
        </a>
      </div>
      <div class="card col-md-3">
        <a href="page_item.html">
          <img src="../../assets/images/Capture.png" alt="">
          <div class="title">
            <h5>Google - Clean Dark</h5>
            <p>Vu Hoang</p>
          </div>
          <div class="icon">
            <i class="fa fa-heart"></i>
            <span>345</span>
            <i class="fa fa-eye"></i>
            <span>345</span>
          </div>
        </a>
      </div>
      <div class="card col-md-3">
        <a href="page_item.html">
          <img src="../../assets/images/Capture.png" alt="">
          <div class="title">
            <h5>Google - Clean Dark</h5>
            <p>Vu Hoang</p>
          </div>
          <div class="icon">
            <i class="fa fa-heart"></i>
            <span>345</span>
            <i class="fa fa-eye"></i>
            <span>345</span>
          </div>
        </a>
      </div>
      <div class="card col-md-3" id="last">
        <a href="page_item.html">
          <img src="../../assets/images/Capture.png" alt="">
          <div class="title">
            <h5>Google - Clean Dark</h5>
            <p>Vu Hoang</p>
          </div>
          <div class="icon">
            <i class="fa fa-heart"></i>
            <span>345</span>
            <i class="fa fa-eye"></i>
            <span>345</span>
          </div>
        </a>
      </div>
      <div class="card col-md-3">
        <a href="page_item.html">
          <img src="../../assets/images/Capture.png" alt="">
          <div class="title">
            <h5>Google - Clean Dark</h5>
            <p>Vu Hoang</p>
          </div>
          <div class="icon">
            <i class="fa fa-heart"></i>
            <span>345</span>
            <i class="fa fa-eye"></i>
            <span>345</span>
          </div>
        </a>
      </div>
      <div class="card col-md-3">
        <a href="page_item.html">
          <img src="../../assets/images/Capture.png" alt="">
          <div class="title">
            <h5>Google - Clean Dark</h5>
            <p>Vu Hoang</p>
          </div>
          <div class="icon">
            <i class="fa fa-heart"></i>
            <span>345</span>
            <i class="fa fa-eye"></i>
            <span>345</span>
          </div>
        </a>
      </div>
      <div class="card col-md-3">
        <a href="page_item.html">
          <img src="../../assets/images/Capture.png" alt="">
          <div class="title">
            <h5>Google - Clean Dark</h5>
            <p>Vu Hoang</p>
          </div>
          <div class="icon">
            <i class="fa fa-heart"></i>
            <span>345</span>
            <i class="fa fa-eye"></i>
            <span>345</span>
          </div>
        </a>
      </div>
      <div class="card col-md-3" id="last">
        <a href="page_item.html">
          <img src="../../assets/images/Capture.png" alt="">
          <div class="title">
            <h5>Google - Clean Dark</h5>
            <p>Vu Hoang</p>
          </div>
          <div class="icon">
            <i class="fa fa-heart"></i>
            <span>345</span>
            <i class="fa fa-eye"></i>
            <span>345</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
