<nav class="nav-menu">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Best of HandleStyle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Top Styled Sites</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Editor’s Choice</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Newest Styles</a>
    </li>
  </ul>
</nav>