.footer {
  margin-top: 30px;
  background: $black;
  padding: 45px 0 20px;
  color: $white;

  a {
    color: $white;
  }

  &__logo {
    font-size: 36px;
  }

  &__top {

    margin-top: 60px;

    h5 {
      @extend .text-uppercase;
    }

    a {
      @extend .text-white-50;
      font-size: 0.875rem;
    }
  }

  &__bottom {

    @extend .d-flex;
  }

  .bottom-link {
    li.nav-item:first-child a {
      padding-left: 0;
    }
  }

  &__copyright {
    @extend .text-white-50;
    font-size: 0.875rem;
  }
}
