.navbar-dark {

  background: $black;

  .navbar-brand {
    color: $navbar-dark-active-color;
    font-size: 1.5rem;
  }

  .navbar-nav {

    height: 29px;
    // margin-left: 160px;

    @include media-breakpoint-down(md) {
      height: inherit;
      margin-left: 0;
    }

    .nav-item {
      margin: 0 22px;

      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }

    .nav-link {
      color: $navbar-dark-color;
      font-family: 'Roboto', sans-serif;

      @include hover-focus {
        color: $blue;
        transition: .3s all;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-dark-active-color;
      border-bottom: 5px solid $white;

      &:hover {
        color: $blue;
        border-bottom: 5px solid $blue;
        transition: .3s all;
      }
    }
  }
}

// @media only screen and (max-width: 767px) {
//   #navbarNav {
//     position: fixed;
//     top: 0;
//     left: 15px;
//     z-index: 99;
//     width: 280px;
//     height: 100%;
//     background-color: #ddd;
//     overflow: auto;
//   }
//   .menu-overlay {
//     display: none;
//     background-color: #000;
//     bottom: 0;
//     left: 0;
//     opacity: 0.5;
//     filter: alpha(opacity=50);
//     /* IE7 & 8 */
//     position: fixed;
//     right: 0;
//     top: 0;
//     z-index: 49;
//   }
// }
