.nav-menu {
    background: #fff;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.nav-link {
    color: #222;
}

.nav-link.active,
.nav-item.show .nav-link {
  color: #3498db;
  // color: $nav-tabs-link-active-color;
  // background-color: $nav-tabs-link-active-bg;
  // border-color: $nav-tabs-link-active-border-color;
}